<div class="cards">
  <div class="user-card" *ngFor="let user of availableUsers">
    <div class="user-header">
      <h2>{{ user.fullName }}</h2>
    </div>

    <div class="user-id">
      <!-- {{user.id}} -->
      <span>ID: </span>
      <button class="copy-id-button" (click)="copyUserId(user.id!)">
        Copia ID
      </button>
    </div>

    <div class="user-details">
      <div class="user-info">
        <div class="user-name">
          <span>Nome: </span>
          <span>{{ user.firstName }}</span>
        </div>

        <div class="user-surname">
          <span>Cognome: </span>
          <span>{{ user.lastName }}</span>
        </div>
      </div>

      <div class="user-picture">
        <img
          [src]="user.picture"
          alt="Immagine utente"
          onerror="this.src='https://cdn-icons-png.flaticon.com/512/9131/9131529.png'"
        />
        <span id="fullNameUser">{{ user.fullName }}</span>
      </div>

      <!-- <div class="user-friends">
        <span>Amici: </span>
        <span *ngIf="user.friends && user.friends.length > 0; else noFriends">{{
          user.friends.length
        }}</span>
        <ng-template #noFriends>0</ng-template>
      </div> -->
    </div>
  </div>
</div>
