body {
  background-color: #f0f4f9; /* Sfondo ispirato a Genshin Impact */
  background-image: url("./img/Monstat2.webp"); /* URL dell'immagine di sfondo */
  background-size: cover; /* Imposta la dimensione dell'immagine di sfondo per coprire l'intero corpo */
  background-position: center; /* Posiziona l'immagine di sfondo al centro */
  background-repeat: no-repeat; /* Non ripetere l'immagine di sfondo */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  color: #e5e5e5; /* Testo bianco */
  text-align: center;
  margin-top: 50px;
}
.character {
  width: 200px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombra */
  background-color: #fefefe; /* Sfondo del contenitore */
  padding: 20px;
}
.characters {
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1; */
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colonne di larghezza uguale */
  grid-gap: 20px; /* Spaziatura tra le card */
}
.character img {
  display: block;
  margin: 0 auto 10px;
  border-radius: 50%; /* Immagine del personaggio con bordi arrotondati */
  max-width: 100%; /* Imposta la larghezza massima al 100% del contenitore */
  height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni originali */
}
.character h2 {
  color: #5e5e5e; /* Testo grigio scuro */
  text-align: center;
}
.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;
  max-width: 300px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-bar input[type="text"]:focus {
  border-color: #007bff; /* Cambia il colore del bordo quando la barra di ricerca ottiene lo stato di focus */
  outline: none;
}
p {
  display: none;
}
